<div class="row homepage-body">
  <div class="col-md-6 as">
    <img
      class="main-image category-img"
      alt="Responsive image"
      src="../../../../../assets/images/products/bags/bag-1(cropped).jpg"
      (click)="navigateTo('product', 'Bags')"
    />
    <p class="main-img-text">Bags</p>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6 as">
        <img
          class="img-thumbnail category-img"
          src="../../../../../assets/images/products/clothes/item-1.jpeg"
          alt=""
          (click)="navigateTo('product', 'Clothes')"
        />
        <p class="img-text">Clothes</p>
      </div>
      <div class="col-md-6 as">
        <img
          class="img-thumbnail category-img"
          src="../../../../../assets/images/products/jacket/jacket-1.jpeg"
          alt=""
          (click)="navigateTo('product', 'Shawls')"
        />
        <p class="img-text">Shawls</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 as">
        <img
          class="img-thumbnail category-img"
          src="../../../../../assets/images/products/accessories/acc-homepage.jpeg"
          alt=""
          (click)="navigateTo('product', 'Accessories')"
        />
        <p class="img-text">Accessories</p>
      </div>
      <div class="col-md-4 as">
        <img
          class="img-thumbnail category-img"
          src="../../../../../assets/images/products/chinese gold/img-5.jpeg"
          alt=""
          (click)="navigateTo('product', 'Chinese Gold')"
        />
        <p class="img-text">Chinese Gold</p>
      </div>
      <div class="col-md-4 as">
        <img
          class="img-thumbnail category-img"
          src="../../../../../assets/images/products/scarfs/scarf-2.jpeg"
          alt=""
          (click)="navigateTo('product', 'Scarfs')"
        />
        <p class="img-text">Scarfs</p>
      </div>
    </div>
  </div>
</div>
