<div class="row">
  <h3>Offers</h3>
  <!-- <div class="col-lg-3">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../../../../../assets/images/products/accessories/acc-homepage.jpeg"
            class="d-block w-100"
          />
        </div>
        <div class="carousel-item">
          <img
            src="../../../../../assets/images/products/accessories/img-1.jpeg"
            class="d-block w-100"
          />
        </div>
        <div class="carousel-item">
          <img
            src="../../../../../assets/images/products/accessories/img-10.jpeg"
            class="d-block w-100"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div> -->
</div>
<div class="row">
  <div class="col-md-12">
    <app-carousel></app-carousel>
  </div>
</div>

<div class="row homepage-body">
  <div class="col-md-6 as">
    <img
      class="main-image category-img"
      alt="Responsive image"
      src="../../../../../assets/images/products/bags/bag-1(cropped).jpg"
      (click)="navigateTo('product', 'Bags')"
    />
    <p class="main-img-text">Bags</p>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6 as">
        <img
          class="img-thumbnail category-img"
          src="../../../../../assets/images/products/clothes/item-1.jpeg"
          alt=""
          (click)="navigateTo('product', 'Clothes')"
        />
        <p class="img-text">Clothes</p>
      </div>
      <div class="col-md-6 as">
        <img
          class="img-thumbnail category-img"
          src="../../../../../assets/images/products/jacket/jacket-1.jpeg"
          alt=""
          (click)="navigateTo('product', 'Shawls')"
        />
        <p class="img-text">Shawls</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 as">
        <img
          class="img-thumbnail category-img"
          src="../../../../../assets/images/products/accessories/acc-homepage.jpeg"
          alt=""
          (click)="navigateTo('product', 'Accessories')"
        />
        <p class="img-text">Accessories</p>
      </div>
      <div class="col-md-4 as">
        <img
          class="img-thumbnail category-img"
          src="../../../../../assets/images/products/chinese gold/img-5.jpeg"
          alt=""
          (click)="navigateTo('product', 'Chinese Gold')"
        />
        <p class="img-text">Chinese Gold</p>
      </div>
      <div class="col-md-4 as">
        <img
          class="img-thumbnail category-img"
          src="../../../../../assets/images/products/scarfs/scarf-2.jpeg"
          alt=""
          (click)="navigateTo('product', 'Scarfs')"
        />
        <p class="img-text">Scarfs</p>
      </div>
    </div>
  </div>
</div>
