<div class="filter-menu">
  <p class="filter-menu-header">Filters</p>
  <em style="font-weight: bold">Status</em>
  <div class="form-check">
    <input
      (click)="getCheckBoxInput('offers')"
      class="form-check-input"
      type="checkbox"
      value=""
      id="offers"
    />
    <label class="form-check-label" for="offers"> On Sale </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="available" />
    <label class="form-check-label" for="available"> Available </label>
  </div>
</div>
