.navbar-brand {
  margin-right: 25%;
  font-family: brands;
  font-size: 34px;
  font-weight: bold;
  padding-left: 20px;
  height: 100px;
}
a {
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 0;
}
.nav-item {
  font-size: 20px;
}
.shopping-cart {
  margin-left: 10px;
}
.img-logo {
  width: 220px;
}
.logOutButton {
  cursor: pointer;
}
a:hover{
  background-color: aqua;
  border-radius: 5px;
}
.instagram{
  padding-top: 20px;
}
@-webkit-keyframes blackWhite {  
  0% { color: red; }
  50% { color: red; }
  51% { color: black; }
  100% { color: black; }
}

.blinkdiv {
    color: red;
    -webkit-animation-name: blackWhite;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 2s; 
}  