.navbar-brand {
  margin-right: 28%;
  font-family: brands;
  font-size: 34px;
  font-weight: bold;
  padding-left: 20px;
}
a {
  margin: 10px;
}
.nav-item {
  font-size: 20px;
}
.shopping-cart {
  margin-left: 10px;
}
.img-logo {
  width: 200px;
}
