<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <p class="navbar-brand" href="#">
      <img
        [routerLink]="['/core']"
        class="img-logo"
        src="../../../../assets/images/bouba-logo/black-logo.jpeg"
        alt=""
      />
    </p>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/core']"
            >Home</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <p (click)="getProductCategory('Bags')" class="dropdown-item">
                Bags
              </p>
            </li>
            <li>
              <p (click)="getProductCategory('Clothes')" class="dropdown-item">
                Clothes
              </p>
            </li>
            <li>
              <p
                (click)="getProductCategory('Accessories')"
                class="dropdown-item"
              >
                Accessories
              </p>
            </li>
            <li>
              <p class="dropdown-item" (click)="getProductCategory('Scarfs')">
                Scarfs
              </p>
            </li>
            <li>
              <p class="dropdown-item" (click)="getProductCategory('Shawls')">
                Shawls
              </p>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" [routerLink]="['/cart']"
            >Cart
            <span
              ><img
                class="shopping-cart"
                src="../../assets/images/shopping-cart (1).png"
                alt="" /></span
          ></a>
        </li>
        <li *ngIf="token" class="nav-item">
          <a
            (click)="signOut()"
            class="nav-link logOutButton"
            aria-current="page"
            >LogOut</a
          >
        </li>
        <li *ngIf="token" class="nav-item">
          <a class="nav-link">Hi, Bouba</a>
        </li>
      </ul>
    </div>
    <div class="instagram">
      <img src="../../../../assets/images/307779-p800tt-551.jpg" alt="" />
      <a
        href="https://www.instagram.com/boubacollection/"
        target="blank"
        class="blinkdiv"
      >
        Follow us on Instagram
      </a>
    </div>
  </div>
</nav>
