.product {
  margin-top: 20px;
  text-align: center;
  position: relative;
}
.product-name {
  margin-top: 20px;
  font-size: 20px;
}

.product-price {
  font-weight: bold;
  font-size: 25px;
  padding-top: 5px;
}
.product-priceOnSale {
  font-weight: bold;
  font-size: 25px;
  padding-top: 5px;
  text-decoration-line: line-through;
  color: lightgrey;
}
.container {
  margin-top: 20px;
  background-color: white;
}
body {
  font-family: sans-serif;
}
.addToCart {
  color: brown;
}
.admin-button {
  margin: 10px;
}
.responseMessage {
  color: red;
}
button {
  margin: 10px;
}
.bags-image {
  width: 85%;
  height: 350px;
}
.clothes-image {
  width: 70%;
  height: 420px;
}
.chineseGold-image {
  width: 85%;
  height: 400px;
}
.scarfs-image {
  width: 70%;
  height: 420px;
}
.shawls-image {
  width: 70%;
  height: 420px;
}
.top-left-text-chineseGold {
  position: absolute;
  top: 8px;
  left: 55px;
  border-radius: 3px;
  font-size: 15px;
  padding: 0 3px;
}
.top-left-text-bags {
  position: absolute;
  top: 8px;
  left: 59px;
  border-radius: 3px;
  font-size: 15px;
  padding: 0 3px;
}
.top-left-text-clothes {
  position: absolute;
  top: 8px;
  left: 85px;
  border-radius: 3px;
  font-size: 15px;
  padding: 0 3px;
}
.top-left-text-accessories {
  position: absolute;
  top: 8px;
  left: 90px;
  border-radius: 3px;
  font-size: 15px;
  padding: 0 3px;
}
.top-left-text-scarfs {
  position: absolute;
  top: 8px;
  left: 90px;
  border-radius: 3px;
  font-size: 15px;
  padding: 0 3px;
}
.top-left-text-shawls {
  position: absolute;
  top: 8px;
  left: 84px;
  border-radius: 3px;
  font-size: 15px;
  padding: 0 3px;
}
@media (min-width: 760px) {
}
/* mobile */
@media (max-width: 760px) {
  .top-left-text-bags {
    left: 20px;
  }
  .bags-image {
    width: 100%;
  }
  .top-left-text-clothes {
    left: 20px;
  }
  .top-left-text-chineseGold {
    left: 20px;
  }
  .top-left-text-accessories {
    left: 20px;
  }
  .scarfs-image {
    width: 80%;
  }
  .top-left-text-scarfs {
    left: 50px;
  }
  .top-left-text-shawls {
    left: 20px;
  }
}
body {
  background-color: #eaeded;
}
