.product {
  margin-top: 20px;
  text-align: center;
}
.product-image {
  height: 400px;
}
.product-name {
  margin-top: 20px;
  font-size: 20px;
}
.product-price {
  font-weight: bold;
  font-size: 20px;
  padding-top: 5px;
}
.container {
  margin-top: 20px;
}
body {
  font-family: sans-serif;
}
.addToCart {
  color: brown;
}
.admin-button {
  margin: 10px;
}
.responseMessage {
  color: red;
}
button {
  margin: 10px;
}
.img-thumbnail{
  border: none;
}