<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-xl-4 product" *ngFor="let product of products">
      <img [src]="product.image" class="img-thumbnail product-image" alt="" />
      <p class="product-price">{{ product.price }}.0EGP</p>
      <p class="product-desc">{{ product.desc }}</p>
      <p (click)="addToCart(product)" class="product-desc">
        <button class="btn btn-primary">Addt To Cart</button>
      </p>
      <div>
        <div>
          <label for="price">Price : </label>
          <input type="text" id="price" />
        </div>
        <div>
          <label for="desc">Desc : </label>
          <input type="text" id="desc" />
        </div>
        <div>
          <label for="stock">Stock : </label>
          <input type="text" id="stock" />
        </div>
        <div>
          <label for="status">Status : </label>
          <input type="text" id="status" />
        </div>
        <button class="btn btn-success">Update Product</button>
      </div>
    </div>
  </div>
  <div>
    <h3>Add New Product</h3>
    <div>
      <label for="price">Price : </label>
      <input type="text" id="price" />
    </div>
    <div>
      <label for="desc">Desc : </label>
      <input type="text" id="desc" />
    </div>
    <div>
      <label for="stock">Stock : </label>
      <input type="text" id="stock" />
    </div>
    <div>
      <label for="status">Status : </label>
      <input type="text" id="status" />
    </div>
    <button class="btn btn-success">Add Product</button>
  </div>
</div>
