<app-header></app-header>
<div class="container">
  <div class="row">
    <p *ngIf="cartProducts.length === 0 ? true : false" class="cart-message">
      There is no items in the cart yet!
    </p>
    <div *ngIf="cartProducts.length === 0 ? false : true" class="col-md-9">
      <div class="row table-head">
        <div class="col-md-3 table-head-info">IMAGE</div>
        <div class="col-md-3 table-head-info">PRICE</div>
        <div class="col-md-3 table-head-info">TOTAL</div>
        <div class="col-md-3 table-head-info"></div>
      </div>
      <hr />

      <div *ngFor="let product of cartProducts" class="row table-data">
        <div class="col-md-3 product-img">
          <img [src]="product.image" class="img-thumbnail" alt="" />
        </div>
        <div class="col-md-3 product-info">{{ product.price }}</div>
        <div class="col-md-3 product-info">{{ product.desc }}</div>
        <div class="col-md-3 product-info">
          <button
            (click)="removeItemFromCart(product.name)"
            class="btn btn-primary"
          >
            X
          </button>
        </div>
        <hr />
      </div>
    </div>
    <div
      *ngIf="cartProducts.length === 0 ? false : true"
      class="col-md-3 order-summary"
    >
      <h3>Order Summary</h3>
      <p><strong>Items</strong> : {{ cartProducts.length }}</p>
      <p><strong>Total</strong> : {{ total }} <br />+<br />Shipping Fees</p>
    </div>
  </div>
  <app-order-page></app-order-page>
</div>
