<app-header></app-header>
<div class="container">
  <div class="row table-head">
    <div class="col-md-3">IMAGE</div>
    <div class="col-md-3">PRODUCT</div>
    <div class="col-md-3">PRICE</div>
    <div class="col-md-3">TOTAL</div>
  </div>
  <hr />
  <div class="row table-data">
    <div class="col-md-3">
      <img
        src="../../../../assets/images/products/c618fbb6-8f2a-4347-bf1c-4d59d013987f.jpeg"
        class="img-thumbnail"
        alt=""
      />
    </div>
    <div class="col-md-3 product-info">Necklace</div>
    <div class="col-md-3 product-info">100</div>
    <div class="col-md-3 product-info">100</div>
  </div>
  <div class="row table-data">
    <div class="col-md-3">
      <img
        src="../../../../assets/images/products/df216558-b1cd-477a-b53a-6e7859a83ca4.jpeg"
        class="img-thumbnail"
        alt=""
      />
    </div>
    <div class="col-md-3 product-info">Necklace</div>
    <div class="col-md-3 product-info">100</div>
    <div class="col-md-3 product-info">100</div>
  </div>
</div>
