<app-header></app-header>
<div class="container">
  <div class="row table-head">
    <div class="col-md-3">IMAGE</div>
    <div class="col-md-3">PRICE</div>
    <div class="col-md-3">TOTAL</div>
  </div>
  <hr />
  <div *ngFor="let product of cartProducts" class="row table-data">
    <div class="col-md-3">
      <img [src]="product.image" class="img-thumbnail" alt="" />
    </div>
    <div class="col-md-3 product-info">{{ product.price }}</div>
    <div class="col-md-3 product-info">{{ product.desc }}</div>
  </div>
</div>
