img {
  width: 200px;
}
.table-head {
  margin-top: 20px;
}
.product-info {
  /* text-align: center */
  padding-top: 60px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.table-data {
  margin-top: 10px;
}
.order-summary {
  align-items: center;
  text-align: center;
  border: 1px lightgrey solid;
  border-radius: 2px;
  background-color: #f7f7f7;
  margin-top: 62px;
  height: 200px;
}
input {
  text-align: center;
}
.form-group {
  margin: 20px 0;
}
label {
  margin: 10px 0;
  color: black;
}
h3 {
  color: lightsalmon;
}
hr {
  margin: 20px 0;
}
.cart-message {
  padding-top: 20px;
  text-align: center;
}
