<div class="row" *ngIf="cartProducts.length  === 0 ? false : true">
  <div class="col-md-4 order-info">
    <h2>Order Info</h2>
    <div class="form-group">
      <label for="Username">Name</label>
      <input
        [(ngModel)]="username"
        type="text"
        class="form-control"
        id="Username"
        required
        #usernameVar="ngModel"
      />
      <p
        *ngIf="
          usernameVar.invalid && (usernameVar.dirty || usernameVar.touched)
        "
        class="error"
      >
        Name is required
      </p>
    </div>
    <div class="form-group">
      <label for="Mobile">Mobile</label>
      <input
        [(ngModel)]="mobile"
        type="text"
        class="form-control"
        id="Mobile"
        required
        minlength="11"
        #mobileVar="ngModel"
      />
      <p
        *ngIf="mobileVar.invalid && (mobileVar.dirty || mobileVar.touched)"
        class="error"
      >
        Mobile is required
      </p>
      <p
        *ngIf="mobileVar.errors?.['minlength'] && (mobileVar.dirty || mobileVar.touched)"
        class="error"
      >
        Mobile is must be 11 numbers
      </p>
    </div>
    <div class="form-group">
      <label for="Address">Address</label>
      <input
        [(ngModel)]="region"
        type="text"
        class="form-control"
        id="Region"
        required
        placeholder="Region Ex:Giza"
        #regionVar="ngModel"
      />
      <p
        class="error"
        *ngIf="regionVar.invalid?.['required'] && (regionVar.dirty || regionVar.touched)"
      >
        Region is required
      </p>
      <input
        [(ngModel)]="street"
        type="text"
        class="form-control"
        id="Street"
        required
        placeholder="Street Ex:dokki St"
        #streetVar="ngModel"
      />
      <p
        class="error"
        *ngIf="streetVar.invalid && (streetVar.dirty || streetVar.touched)"
      >
        Street is required
      </p>
      <input
        [(ngModel)]="floor"
        type="text"
        class="form-control"
        id="Floor"
        required
        placeholder="Floor Ex:3"
        #floorVar="ngModel"
      />

      <p class="error">
        <input
          [(ngModel)]="appartment"
          type="text"
          class="form-control"
          id="Appartment"
          required
          placeholder="Appartment Ex:10"
          #appartmentVar="ngModel"
        />
      </p>

      <p class="error"></p>
    </div>

    <div>
      <button
        [disabled]="
          usernameVar.invalid || streetVar.invalid || mobileVar.invalid
        "
        (click)="handleSumbitOrder()"
        class="btn btn-primary form-group"
      >
        Place Order
      </button>
    </div>
    <p class="sucess" *ngIf="responseMessage ? true : false">
      Order Placed Successfully
    </p>
  </div>

  <div class="col-md-8">
    <app-maps (AddressEmit)="getAddress($event)"></app-maps>
  </div>
</div>
